#compatibility {
    flex-direction: column;
    gap: 42px;
    margin-top: 60px;
}
#compatibility > h2 {
    font-weight: 700;
    font-size: 60px;
    color: var(--black);
}
#compatibility > div {
    gap: 24px;
}
.select-box {
    width: 287px;
    position: relative;
}
#select {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 2px solid var(--black);
    border-radius: 12px;
    background-color: var(--white);
    color: var(--black);
    padding: 24px 20px 24px 24px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    line-height: 28.8px;
    appearance: none;
    cursor: pointer;
    gap: 10px;
}
.option {
    text-align: center;
}
.options {
    color: var(--grey);
    padding-left: 44px;
    text-align: left;
}
.open-close-chevron {
    font-size: 16px;
    color: var(--black);
    position: absolute;
    top: 30px;
    right: 15px;
}
.calculate-compatibility {
    width: 375px;
    height: 77px;
    border: none;
    border-radius: 12px;
    padding: 24px;
    background-color: var(--black);
    color: var(--white);
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    cursor: pointer;
}
.love-info {
    margin: 60px auto;
    width: 996px;
    padding: 24px 48px;
    border-bottom: 2px solid var(--grey);
}
.love-info > p {
    font-weight: 400;
    color: var(--black);
    font-size: 24px;
    line-height: 28.8px;
    text-align: justify;
}
.compatibility__h3 {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: var(--black);
    margin-top: 60px;
}

#graph {
    width: 980px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bar-chart {
    display: flex;
    align-items: end;
    justify-content: space-around;
    width: 1000px;
    height: 400px;
    border-left: 3px solid var(--black);
    border-bottom: 3px solid var(--black);
}
.measures {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    height: 410px;
    margin-bottom: -12px;
    margin-left: -79px;
    color: var(--black);
}
.measures > p {
    font-size: 20px;
}
.bar {
    width: 24px;
    background-color: var(--black);
    border-radius: 8px;
}
.bar:nth-child(2){height: 280px;}
.bar:nth-child(3){height: 160px;}
.bar:nth-child(4){height: 340px;}
.bar:nth-child(5){height: 260px;}
.bar:nth-child(6){height: 350px;}
.bar:nth-child(7){height: 192px;}
.bar:nth-child(8){height: 280px;}
.bar:nth-child(9){height: 208px;}
.bar:nth-child(10){height: 360px;}
.bar:nth-child(11){height: 285px;}
.bar:nth-child(12){height: 275px;}
.bar:nth-child(13){height: 260px;}

.chart-label {
    margin-top: -20px;
    height: 100px;
    width: 900px;
    display: flex;
    align-items: end;
    gap: 42px;
    padding-left: 50px;
}
.chartImage {
    width: 40px;
    height: 40px;
}