@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}
:root {
    --black: #1A1A1A;
    --grey: #99999999;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}