@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}
:root {
    --black: #1A1A1A;
    --grey: #99999999;
    --white: #FFFFFF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.container {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
}
.navbar {
    width: 100%;
    height: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 102px;
    height: 29px;
}
.navbar > ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 42px;
}
.navbar > ul > li:last-child {
    width: 138px;
    height: 47px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    margin-left: 129px;
}
.navbar > ul > li:last-child > a {
    color: var(--white);
    font-weight: 600;
}
#active {
    font-weight: 600;
}
.navbar > ul > li > a {
    color: var(--black);
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
}
#name-of-the-site {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 598px;
    margin-top: 60px;
    border: none;
    border-radius: 24px;
    background-color: #EEEEEE;
}
.header-box {
    width: 701px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-box > h1 {
    font-weight: 700;
    font-size: 76px;
    text-align: center;
    line-height: 91.2px;
    color: var(--black);
}
.header-box > p {
    max-width: 551px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    line-height: 33.6px;
    color: #050505;
}
.header-box > div {
    margin-top: 60px;
    display: flex;
    gap: 24px;
}
.header-box > div > a {
    height: 77px;
    border-radius: 12px;
    padding: 24px;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
}
.header-box > div > a:first-child {
    background-color: var(--black);
    color: var(--white);
}
.header-box > div > a:last-child {
    color: var(--black);
    border: 2px solid var(--black);
}