#name-of-the-site {
    width: 100%;
    height: 598px;
    margin-top: 60px;
    border: none;
    border-radius: 24px;
    background-color: #EEEEEE;
}
.header-box {
    width: 701px;
    flex-direction: column;
}
.header-box > h1 {
    font-weight: 700;
    font-size: 76px;
    text-align: center;
    line-height: 91.2px;
    color: #1A1A1A;
}
.header-box > p {
    max-width: 551px;
    width: 100%;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    line-height: 33.6px;
    color: #1A1A1A;
}
.header-box > div {
    margin-top: 60px;
    display: flex;
    gap: 24px;
}
.header-box > div > a {
    height: 77px;
    border-radius: 12px;
    padding: 24px;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
}
.header-box > div > a:first-child {
    background-color: #1A1A1A;
    color: #FFFFFF;
}
.header-box > div > a:last-child {
    color: #1A1A1A;
    border: 2px solid #1A1A1A;
}
.forecast-today {
    color: var(--black);
    margin-top: 60px;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    line-height: 72px;
}
.hook-text {
    color: var(--black);
    max-width: 796px;
    width: 100%;
    margin: 24px auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
}
#zodiac-section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 12px;
    max-width: 1084px;
    width: 100%;
    margin: 42px auto;
}
.zodiac-content {
    width: 262px;
    height: 320px;
    flex-direction: column;
    gap: 12px;
    border: 2px solid #99999952;
    border-radius: 12px;
}
.zodiac-content__image {
    width: 78px;
    height: 78px;
}
.zodiac-content > div {
    width: 225px;
}
.zodiac-content > div > h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    color: var(--black);
}
.zodiac-content > div > p {
    margin-top: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.04px;
    text-align: center;
    color: var(--black);
}
.zodiac-content > a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    color: var(--grey);
    text-decoration: none;
    gap: 11.5px;
}
.zodiac-content > a > i {
    margin-top: 5px;
}
#calculate-date {
    flex-direction: column;
    gap: 42px;
}
#calculate-date > h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    color: var(--black);
}
.enter-date {
    display: flex;
    gap: 24px;
}
.enter-date > input {
    height: 61px;
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--black);
    border-radius: 12px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    outline: none;
}
.enter-date > input::-webkit-inner-spin-button,
.enter-date > input::-webkit-outer-spin-button {
  -webkit-appearance: none; /* WebKit uchun */
}
.enter-day {
    width: 123px;
}
.enter-month {
    width: 195px;
    text-transform: capitalize;
}
.enter-year {
    width: 123px;
}
.calculate-btn {
    width: 296px;
    height: 77px;
    background-color: var(--black);
    color: var(--white);
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    border-radius: 12px;
    padding: 24px;
    border: none;
    cursor: pointer;
}